#canv-game {
	margin: 15px;
}

.game-wrapper {
	display: flex;
	flex-direction: column;
}

.game-buttons {
	display: flex;
	padding-left: 150px;
	padding-right: 150px;
	flex-direction: row;
	justify-content: space-around;
}